# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.vs
bin
obj

/API/bin
/API/obj
/API/wwwroot/files
/API.Tests/bin
/API.Tests/obj
/API.DataLayer/bin
/API.DataLayer/obj
